@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@Model.Name details</h1>
<p>Price: @Model.Price</p>
<p>Description: @Model.Description</p>
<p>Category: @Model.Category</p>
<br />
<a asp-controller="CoffeeShop" asp-action="Index">Return</a>